<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jarvis.gmall.mapper.AddressMapper">


    <select id="select_addresses" parameterType="int" resultType="com.jarvis.gmall.entity.T_MALL_ADDRESS">
        SELECT * FROM t_mall_address WHERE yh_id = #{user_id}
    </select>

    <select id="select_address" parameterType="int" resultType="com.jarvis.gmall.entity.T_MALL_ADDRESS">
        SELECT * FROM t_mall_address WHERE id = #{address_id}
    </select>

    <insert id="insert_address" parameterType="com.jarvis.gmall.entity.T_MALL_ADDRESS">
        INSERT INTO t_mall_address ( dz_mch, dzzt, yh_id, shjr, lxfsh )
        VALUES
            (#{dz_mch},#{dzzt},#{yh_id},#{shjr},#{lxfsh})
    </insert>
</mapper>