<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jarvis.gmall.mapper.SpuMapper">

    <select id="select_shp_list" parameterType="Map" resultType="com.jarvis.gmall.entity.T_MALL_PRODUCT">
        SELECT *
        FROM
            t_mall_product
        WHERE
            flbh2 = #{flbh2} and pp_id = #{pp_id}
    </select>

    <insert id="insert_spu" parameterType="com.jarvis.gmall.entity.T_MALL_PRODUCT"
        useGeneratedKeys="true" keyColumn="id" keyProperty="id">
       INSERT INTO t_mall_product (
            shp_mch,
            shp_msh,
            shp_tp,
            flbh1,
            flbh2,
            pp_id
        )
        VALUES
            (
            #{shp_mch},
            #{shp_msh},
            #{shp_tp},
            #{flbh1},
            #{flbh2},
            #{pp_id})
    </insert>

    <insert id="insert_images" parameterType="map">
        INSERT INTO t_mall_product_image ( shp_id, url )
        VALUES
        <foreach collection="image_list" item="image" separator=",">
            (
            #{ shp_id },
            #{ image })
        </foreach>
    </insert>


</mapper>