<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jarvis.gmall.mapper.OrderMapper">


    <select id="select_count_kc" parameterType="Map" resultType="int">
        SELECT
            COUNT( 1 )
        FROM
            t_mall_sku
        WHERE
            id = #{sku_id} and kc > #{limit}
    </select>

    <select id="select_kc_lock" parameterType="int" resultType="long">
        SELECT
            kc
        FROM
            t_mall_sku
        WHERE
            id = #{sku_id} FOR UPDATE
    </select>

    <select id="select_kc" parameterType="int" resultType="long">
        SELECT
            kc
        FROM
            t_mall_sku
        WHERE
            id = #{sku_id}
    </select>

    <update id="update_sku" parameterType="Map">
        UPDATE t_mall_sku
        SET kc = kc - #{sku_shl}, sku_xl = IFNULL(sku_xl,0) + #{sku_shl} WHERE id = #{sku_id}
    </update>

    <update id="update_order" parameterType="com.jarvis.gmall.dto.OBJECT_T_MALL_ORDER">
        UPDATE t_mall_order
        <set>
            <if test="jdh!=null">
                jdh = #{jdh},
            </if>
            <if test="yjsdshj!=null">
                yjsdshj = #{yjsdshj}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>

    <update id="update_flow" parameterType="com.jarvis.gmall.dto.OBJECT_T_MALL_FLOW">
        UPDATE t_mall_flow
        SET psshj = #{psshj}, psmsh = #{psmsh}, ywy = #{ywy}, lxfsh = #{lxfsh}
        WHERE
            id = #{id}
    </update>

    <insert id="insert_order" parameterType="com.jarvis.gmall.entity.T_MALL_ORDER" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_mall_order ( shhr, zje, jdh, yh_id, dzh_id, dzh_mch )
        VALUES
            (#{shhr},#{zje},#{jdh},#{yh_id},#{dzh_id},#{dzh_mch})
    </insert>
    
    <insert id="insert_flow" parameterType="com.jarvis.gmall.entity.T_MALL_FLOW" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_mall_flow (
            psfsh,
            yh_id,
            dd_id,
            mqdd,
            mdd)
        VALUES
            (#{psfsh},#{yh_id},#{dd_id},#{mqdd},#{mdd})
    </insert>

    <insert id="insert_infos" parameterType="Map">
        INSERT INTO t_mall_order_info ( dd_id, sku_id, sku_mch, shp_tp, sku_jg, sku_shl, sku_kcdz, flow_id, gwch_id )
        VALUES
            <foreach collection="list_info" item="info" separator=",">
                (#{dd_id},#{info.sku_id},#{info.sku_mch},#{info.shp_tp},#{info.sku_jg},#{info.sku_shl},#{info.sku_kcdz},#{flow_id},#{info.gwch_id})
            </foreach>

    </insert>

    <delete id="delete_carts" parameterType="List">
        DELETE
        FROM
            t_mall_shoppingcar
        WHERE
            id IN
            <foreach collection="list_cart_id" item="cart_id" separator="," open="(" close=")">
                ${cart_id}
            </foreach>
    </delete>

</mapper>